@font-face {
    font-family: "Inrina Serif";
    font-weight: normal;
    src: url("/public/fonts/Inria_Serif/InriaSerif-Regular.ttf");
}
@font-face {
    font-family: "Inrina Serif";
    font-weight: lighter;
    src: url("/public/fonts/Inria_Serif/InriaSerif-Light.ttf");
}
@font-face {
    font-family: "Inrina Serif";
    font-weight: bold;
    src: url("/public/fonts/Inria_Serif/InriaSerif-Bold.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("/public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

label{
    display: flex;
    flex-direction: column;
}

:root{
    font-family: "Inrina Serif";
    font-weight: bold;
    font-size: 1em;
}

::selection {
    color: white;
    background: black;
}

hr{
    margin: 0em;
    border: none;
    background-color: black;
    height: .05em;
}

h1, h2, h3, h4{
    margin: 0em;
    font-family: "Playfair Display";
    font-weight: 600;
}

details, summary{
    border-bottom: .1em solid black;
}
details {
    padding-bottom: .2em;
}
summary{
    padding: 0em !important;
    display: flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
}
summary > h1{
    display: flex;
    align-items: center;
}
summary::before{
    content: "+";
    height: 100%;
    width: 1em;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
details:open > summary::before{
    transform: rotate(45deg);
}
details > * > div{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
button{
    cursor: pointer;
    font-family: "Inrina Serif";
    font-weight: 600;
    border-radius: none;
    background: none;
    transition: .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
select{
    transition: .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button:active, select:active{
    background: black;
    color: white;
}
label{
    user-select: none;
}
input, select{
    user-select: none;
    font-family: "Inrina Serif";
    font-weight: 600;
    border: none;
    background: white;
}

input:focus, select:focus{
    outline: none;
}

input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    background: linear-gradient(90deg, black var(--progress), white 0%);
    border: .1em solid black;
    border-radius: .25em;
    height: 30%;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb{
    background: black;
    border: none;
}
select, input[type=number],button{
    border: .1em solid black;
    padding: .5em;
}

input:disabled, select:disabled{
    color: lightgrey;
    background: white;
    border-color: lightgrey;
    accent-color: lightgrey;
}

input[type=checkbox]{
    accent-color: black;
}
stave-controls{
    display: grid;
    gap: 2em;
    grid-template:
        "bpm auto drum      pattern"
        "btn loop metronome pattern"
    ;
    justify-items: start;
    align-items: center;
}
stave-controls > * {
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
}
header > * {
    text-align: center;
}
.horiz{
    flex-direction: row;
    gap: .5em;
}
a,
a:hover,
a:visited {
    color: black;
    font-style: italic;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

