#stave_canvas{
    position: relative;
    background-color: white;
    isolation: isolate;
}

.pos_block{
    z-index: 255 !important;
    position: absolute;
    top: 0em;
    display: block;
    height: 100%;
    width: 2em;
    transition-duration: 100ms;
    transition: transform linear;
    background-color: white;
    mix-blend-mode: difference;
}
